# Database Configuration
# Main Portal DB
DB_SERVER=localhost
DB_NAME=smisportal
DB_USER=postgres
DB_PASS=secret
DB_PORT=5432

# SMIS Official DB
SMIS_DB_SERVER=localhost
SMIS_DB_NAME=devdb1
SMIS_DB_USER=postgres
SMIS_DB_PASS=secret
SMIS_DB_PORT=5432

# Security
COOKIE_VALIDATION_KEY=D2CakKO1su98Fck8Q0JsQE-dp3i9mrs6

# LDAP
LDAP_HOST=dc1.ad.uonbi.ac.ke
LDAP_PORT=389
LDAP_SEARCH_USER=CN=pwdappuser,CN=Users,DC=AD,DC=UONBI,DC=AC,DC=KE
LDAP_SEARCH_PASS=Kenya@2030

# Mailer
MAILER_DSN=smtp://d38acd23973124:4badb45ed6fd76@smtp.mailtrap.io:2525?encryption=tls&auth_mode=login
